.header-row {
    height: 100px;
}

.header-title {
    font-family: windlass, serif;
    font-size: 2rem;
    text-decoration: italic;
    text-align: right;
}

.header-logo {
    text-align: left;
    padding-left: 20px;
}

#empty-col {
    flex: 1;
}
