.header-row {
    height: 100px;

    .header-title {
        display: flex;
        justify-content: center;

        font-family: windlass, serif;
        font-size: 2rem;
        border: none;

        &:hover {
            box-shadow: none;
            border: none;
        }

        .title-link {
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;

            img {
                padding-left: 20px;
            }
        }
    }
}

.header-logo {
    text-align: left;
    padding-left: 20px;
}

#empty-col {
    flex: 1;
}

