@import 'variables';
@import 'screen';

#content {
    display: flex;
    width: 100%;
}

.page-control-container {
    display: flex;
    width: 100%;
}

.page-control-container.upper {
    justify-content: end;
    margin-top: 50px;

    .page-control {
        margin-right: 40px;
    }

    @include breakpoint(tablet) {
        justify-content: center;
        .page-control {
            margin-right: 0px;
        }
    }
}

.page-control-container.lower {
    justify-content: center;
    margin-top: 20px;
}

.page-control {
    .col {
        flex: 0;
    }

    .page-button {
        width: 90px;
        height: 40px;

        svg {
            path {
                fill: #fff;
            }
        }

        &.previous svg {
            transform: scaleX(-1);
        }

        &.disabled svg path {
            fill: #999;
        }

        @include breakpoint(phone) {
            width: 40px;
            height: 30px;
        }
    }

    #page-number-list .row:first-child{
        justify-content: space-evenly;

        .ellipsis {
            width: 15px;
        }
        .page-number-col {
            width: 50px;

            @include breakpoint(phone) {
                width: 40px;
            }
        }
    }

    .page-number-col {
        cursor: pointer;
    }

    .page-number-col:hover {
        text-decoration: underline;
    }

    .ellipsis {
        color: $disabled;
        display: flex;
    }

    .page-size-select-col {
        margin: 0 25px;

        .col {
            margin: 5px;
        }
    }

    .page-size-select {
        background: #444;
        border-radius: 5px;
        padding: 5px;
        color: white;
        option:hover {
            box-shadow: 0 0 10px 10px #000 inset;
        }
    }

    @include breakpoint(phone) {
        flex-direction: column-reverse;
    }
}


.query-content {
    flex: 1;
    flex-direction: column;

    margin-top: 50px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-row {
    flex: 1 1 100%;
    width: 100%;

    .form-input {
        #search-text-box {
            min-width: 900px;
            width: 900px;
        }

        @include breakpoint(tablet) {
            flex: 1;
            margin: 0 30px;

            #search-text-box {
                width: 100%;
                min-width: 100%;
            }
        }
    }
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.loading-icon {
    animation: loading-icon-spin infinite 7s linear;
}

@keyframes loading-icon-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.faction-row {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
    flex: 1;
    width: 100%;

    .faction-toggle {
        cursor: pointer;
        padding: 0 0 0 0;
        background-color: transparent;
        border: none;
        margin: 10px;
        overflow: hidden;

        .faction-image {
            object-fit: contain;
            height: 100%;
            height: 40px;
            display: block; // prevents small space under image
        }

        &.toggled {
            box-shadow: 0 0 10px 2px #bbb;
        }
    }

    @include breakpoint(phone) {
        .faction-toggle{
            margin: 10px 15px 0 15px;
            .faction-image {
                height: 30px;
            }
        }
    }
}

