$page-content-width: 70%;

@font-face {
    font-family: 'windlass';
    src: url('../../public/fonts/Windlass.woff');
}

@font-face {
    font-family: 'minister';
    src: url('../../public/fonts/ministerstd-light.otf');
}

@font-face {
    font-family: 'montage';
    src: url('../../public/fonts/montage.regular.ttf');
}

.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1200px;
    margin-bottom: 40px;

    .page-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 50px;
        margin-bottom: 40px;
        width: $page-content-width;
        min-width: 1200px;

        .result-content {
            width: inherit;
            min-width: inherit;
        }
    }

    #page-content-backdrop {
        background-color: rgba(0, 0, 0, 0.8);
        filter: blur(6px);

        width: $page-content-width + 5%;
        min-width: inherit;
        height: 110%;

        position: fixed;
        top: 0px;
        left: 50%;

        transform: translateX(-50%);
        z-index: -1;
    }
}

