$page-content-width: 70%;
$min-content-width: 1200px;

@font-face {
    font-family: 'windlass';
    src: url('../../public/fonts/Windlass.woff');
}

@font-face {
    font-family: 'minister';
    src: url('../../public/fonts/ministerstd-light.otf');
}

@font-face {
    font-family: 'montage';
    src: url('../../public/fonts/montage.regular.ttf');
}

.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: $min-content-width;

    .page-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 50px;
        margin-bottom: 40px;
        width: $page-content-width;
        min-width: $min-content-width;

        .result-content {
            width: inherit;
            min-width: inherit;
        }
    }
    
}


#backdrops {
    width: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: -1;

    #header-backdrop {
        position: absolute;
        top: -10px;
        right: -10px;
    
        height: 105px;
        width: 110%;
    
        background-color: #000;
        filter: blur(6px);
    
        z-index: -1;
    }
    
    #page-content-backdrop {
        background-color: #000;
        filter: blur(6px);
    
        width: $page-content-width + 5%;
        min-width: $min-content-width;
        height: 110%;
    
        position: fixed;
        top: -5px;
        left: 50%;
    
        transform: translateX(-50%);
        z-index: -1;
    }
}
