$modal-border-radius: 5px;
$image-border-radius: 15px;
$raritiesColors: (
    "common": red,
    "uncommon": linear-gradient(90deg, rgba(170,169,173,1) 20%, rgba(94,94,94,1) 40%, rgba(55,55,55,1) 50%, rgba(94,94,94,1) 60%, rgba(170,169,173,1) 80%),
    "rare": linear-gradient(90deg, rgba(228,197,31,1) 20%, rgba(148,129,32,1) 40%, rgba(120,104,30,1) 50%, rgba(148,129,32,1) 60%, rgba(228,197,31,1) 80%),
    "super-rare": black,
    "promo": linear-gradient(90deg, rgba(20,74,3,1) 20%, rgba(76,166,48,1) 40%, rgba(142,199,126,1) 50%, rgba(76,166,48,1) 60%, rgba(20,74,3,1) 80%),
    "le": linear-gradient(90deg, rgba(114,66,40,1) 20%, rgba(171,133,112,1) 40%, rgba(236,193,170,1) 50%,rgba(171,133,112,1) 60%,rgba(114,66,40,1) 80%),
    "pr": linear-gradient(90deg, rgba(20,74,3,1) 20%, rgba(76,166,48,1) 40%, rgba(142,199,126,1) 50%, rgba(76,166,48,1) 60%, rgba(20,74,3,1) 80%),
    "se": linear-gradient(90deg, rgba(20,74,3,1) 20%, rgba(76,166,48,1) 40%, rgba(175,219,163,1) 50%, rgba(76,166,48,1) 60%, rgba(20,74,3,1) 80%),
    "special": blue,
    "one-of-one": #fff
);


.mobile-modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: auto;

    backdrop-filter: blur(25px);

    z-index: 11;

    // provides horizontal scroll if window too small
    // and internal margin on the modal
    .mobile-modal-content {
        min-width: 301px;
        margin: 10px;
    }

    .link-icon {
        height: 35px;
    }

    .image-container {
        display: block;
        overflow: hidden;
        margin: 20px;
        border-radius: $image-border-radius;

        #csg-item-image {
            width: 100%;
        }
    }

    .csg-item-header {
        justify-content: start;
        align-items: stretch;

        .points-col {
            display: flex;
            flex: 0 0 60px;
            flex-direction: column;
            justify-content: space-evenly;

            background-color: grey;
            height: 60px;
            background-color: #222222;
            border: 2px solid #000;

            #point-cost {
                font-family: minister, serif;
                font-size: 2.0rem;
                margin-bottom: -10px;
                margin-top: -5px;
            }

            #title {
                font-family: windlass, serif;
                font-size: 0.8rem;
            }
        }

        .faction-title-col {
            padding-top: 5px;

            .title-col {
                flex: 100;
                font-family: windlass, serif;
                font-size: 1.5rem;
                text-align: left;
                padding-left: 15px;
            }

            .faction-col {
                flex: 0 0;

                span {
                    margin: -8px;
                }
            }
        }
    }

    .stats-row {
        font-family: minister, serif;
        font-size: 1.4rem;
        margin-left: 5px;
        margin-top: -28px;
    
        .row {
            align-items: stretch;
            justify-content: start;
            flex-wrap:wrap;
        }
    
        .stat:first-child {
            padding-left: 65px;
            z-index: -1;
        }
    
        .stat {
            background-color: #000;
            padding: 0px 7px 2px;
            margin: 2px 2px 0 0;
            align-items: center;
        }

        .col {
            margin: 0 1px;
        }

        .value {
            padding-left: 5px;
        }

        .cargo-stat .value {
            margin-top: 4px;
        }

        .masts-stat .value {
            margin-top: 4px;
        }

        .cannons-stat .value{
            flex: 8;
        }

        .base-move-stat .icon {
            flex: 1;
        }

        .base-move-stat .value {
            flex: 4;
            margin-top: 4px;
        }

        .icon {
            display: flex;
        }
    }
}
