.faction-toggle {
    cursor: pointer;
    padding: 0 0 0 0;
    background-color: transparent;
    // border: 2px solid transparent;
    border: none;
    margin: 10px;
    overflow: hidden;
    height: 40px;

    .faction-image {
        object-fit: contain;
        height: 100%;
    }

    &.toggled {
        box-shadow: 0 0 10px 2px blue;
    }
}

